
:root{
    --cor-primaria: rgb(218, 194, 194);
    --cor-secundaria: #ffffff;
    --cor-terciaria: #fcd0d0;

}

body{
    background-color: var(--cor-primaria);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.corpo{
    height: 700px;
    width: 300px;
    margin: 50px auto;
    background-color: #d4d9e0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    align-items: center;
}
.titulo{
    margin-top: -10px;
    background: var(--cor-terciaria);
    padding: 20;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.formGorjeta{
    padding: 20px;
    text-align: center;
}

.formInput{
    background: black;
    color: #d4d9e0;
    width: 40px;
    padding: 5px 5px 8px 8px;

}

.formInput:focus{
    border: 3px solid var(--cor-primaria);
}

.formInputOptions{
    width: 230px;
    padding: 5px 5px 8px 8px;
}

.formSubmit{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#gorjetaTotal{
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}